ion-content {
    font-family: 'Montserrat';

.diag {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 66%;
}
ion-icon {
    margin-top: 40%;
    font-size: 7em;
}
h1 {
    margin-top: 80% !important;
    font-weight: bold;
    font-size: 1.2em;
    color: dodgerblue;
}
p {
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: .9em;
    color: black;
}
.swiper-pagination-bullet-active {
    background: primary;
}
.swiper-pagination {
    bottom: 12% !important;
}
#skip {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background: none !important;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}
}