<ion-content>
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>
      <div class="diag" style="background: url('assets/imgs/whitebg.svg') no-repeat">
        <ion-icon ios="logo-angular" md="logo-angular" color="primary" [@jump]='state'></ion-icon>
      </div>
      <div [@jump]='state'>
        <h1>{{ heading }}&nbsp;1</h1>
        <p>{{ paragraph }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag" style="background: url('assets/imgs/whitebg.svg') no-repeat">
        <ion-icon ios="logo-octocat" md="logo-octocat" color="primary" [@jump]='state'></ion-icon>
      </div>
      <div [@jump]='state'>
        <h1>{{ heading }}&nbsp;2</h1>
        <p>{{ paragraph }}</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag" style="background: url('assets/imgs/whitebg.svg') no-repeat">
        <ion-icon ios="ios-cloud-upload" md="md-cloud-upload" color="primary" [@jump]='state'></ion-icon>
      </div>
      <div [@jump]='state'>
        <h1>{{ heading }}&nbsp;3</h1>
        <p>{{ paragraph }}</p>
      </div>
    </ion-slide>
  </ion-slides>
  <button (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>
